:root{
--cor-fundo:#62f762;
--cor-principal:#020202;
--cor-secundaria:#094e03;
--cor-texto:#ffffff;
--cor-destaque:#014111;
}

body{

    background-color:var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.caixa-principal{

    background-color: var(--cor-principal);
    max-width: 600px;
    text-align: center;
    padding: 20px;
}